/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #03142f;
    color: white;
    line-height: 1.6;
}



a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #00d1a0;
}

h1, h2, h3 {
    font-weight: 700;
}

p {
    font-weight: 400;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #02102b00;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 30px;
    margin-right: 10px;
}



.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links li a {
    font-weight: 600;
    font-size: 16px;
}

.contact-info {
    font-size: 14px;
    text-align: right;
}


/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
}

.hero .content {
    max-width: 50%;
}

.hero h1 {
    font-size: 5em;
}

.hero h2 {
    font-size: 4em;
}

.hero p {
    margin: 20px 0;
}

.search-bar {
    display: flex;
    gap: 10px;
}

.search-bar input, .search-bar select, .search-bar button {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.search-bar button {
    background-color: #00d1a0;
    color: #111B2E;
}

/* Features Section */





.services {
    text-align: center;
    padding: 80px 20px;

}

.services h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffffff;
}

.services p {
    font-size: 1.1rem;
    color: #a9a9a9;
    margin-bottom: 40px;
}

.service-items {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap; /* Los servicios se ajustan en pantallas pequeñas */
}

.general-service-item {
    background: #061836;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 300px; /* Ajusta según el diseño deseado */
    flex: 1;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.general-service-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.general-service-item img {
    max-width: 80%;
    margin-bottom: 10px;
}

/* Pricing Section */
.pricing-section {
    text-align: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.header .highlight {
    color: #00d1a0;
    margin-bottom: 10px;
    font-size: 14px;
}

.header h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

.header .description {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 50px;
}

.features {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.feature {
    text-align: center;
}

.feature i {
    font-size: 30px;
    color: #fff;
}

.feature.active i {
    color: #00d1a0;
}

.feature p {
    margin-top: 10px;
    font-size: 14px;
}

.plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.plan {
    background-color: #fff;
    border-radius: 10px;
    color: #240c0c;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
    max-width: 300px; /* Limita el ancho en pantallas más grandes */

    
}

.plan:hover {
    transform: translateY(-10px);
}

.featured {
    background-color: #3C6CE7;
    color: #fff;
}

.plan h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.plan h3 {
    font-size: 36px;
    margin-bottom: 5px;
}

.plan p {
    font-size: 16px;
    margin-bottom: 20px;
}

.plan ul {
    list-style: none;
    text-align: left;
    margin-bottom: 20px;
}

.plan ul li {
    margin-bottom: 10px;
    font-size: 14px;
}

.plan ul li i {
    color: #00d1a0;
    margin-right: 10px;
}

.btn {
    background-color: #3C6CE7;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #2A4DA8;
}

.footer {
    margin-top: 20px;
}

.footer p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
}
/*servicios*/
.detailed-service {
    background-color: white; /* Establece el color de fondo a blanco */
    padding: 40px 0; /* Espaciado superior e inferior */
}

.cta-section {
    background-color: white; /* Si quieres que esta sección también tenga fondo blanco */
    padding: 40px 0; /* Espaciado superior e inferior */
}

.footer {
    background-color: #f8f9fa; /* Cambia el color de fondo del pie de página si es necesario */
}

.powering-button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px; /* Reducción del padding */
    font-size: 14px; /* Reducción del tamaño de la fuente */
    color: #01d28e; /* Color de texto original */
    background-color: #0a1e3b; /* Color de fondo original */
    text-decoration: none;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 25px; /* Aumento del border-radius para más redondez */
    transition: background-color 0.3s, color 0.3s;
}

/* Cambia el color al pasar el mouse */
.powering-button:hover {
    background-color: #01d28e; /* Color de fondo jade */
    color: #fff; /* Cambia el color del texto si lo deseas */
}

/* Cambia el color al hacer clic */
.powering-button:active {
    background-color: #009473; /* Un tono jade más oscuro */
    color: #fff; /* Cambia el color del texto si lo deseas */
}




.service-content {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service-text, .service-image {
    flex: 1;
    padding: 20px;
}

.service-text h3 {
    font-size: 0.8rem;
    color: #00d1a0;
}

.service-text h1 {
    font-size: 2rem;
    color: #000;
    margin: 10px 0;
}

.service-text p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
}

.btn-get-started {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff00;
    color: #006eff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
}

.btn-get-started:hover {
    background-color: #add5ff;
}

.service-image img {
    width: 60%;
    height: auto;
    display: block;
}
/* Alternar imagen y texto */
.detailed-service:nth-of-type(odd) .service-content {
    flex-direction: row;
}

.detailed-service:nth-of-type(even) .service-content {
    flex-direction: row-reverse;
}
/* Map Section */
.map {
    background-color: #f9f9f9; /* Color de fondo de la sección del mapa */
    padding: 50px 20px; /* Espaciado interno para la sección del mapa */
    text-align: center;
    color: #000000 /* Centra el texto dentro de la sección */
}

.map-content {
    max-width: 1200px; /* Ancho máximo del contenedor del contenido del mapa */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.map-content h3, .map-content h2, .map-content p {
    margin-bottom: 20px; /* Espacio debajo de los encabezados y párrafos */
}

.map-container {
    position: relative; /* Establece la posición relativa para el contenedor del mapa */
    overflow: hidden; /* Oculta el contenido que se desborda del contenedor */
    padding-top: 56.25%; /* Mantiene el ratio de aspecto 16:9 (56.25% = 9 / 16 * 100) */
    margin: 0 auto; /* Centra el contenedor del mapa horizontalmente */
    max-width: 100%; /* Asegura que el contenedor no exceda el ancho del contenedor padre */
}

.map-container iframe {
    position: absolute; /* Posiciona el iframe absolutamente dentro del contenedor */
    top: 0; /* Ajusta la posición superior */
    left: 0; /* Ajusta la posición izquierda */
    width: 100%; /* Asegura que el iframe ocupe todo el ancho del contenedor */
    height: 100%; /* Asegura que el iframe ocupe toda la altura del contenedor */
    border: 0; /* Elimina el borde del iframe */
}
/* Estilos Generales */


.cta-section {
    background-color: #0c2044be;
    border-radius: 20px;
    margin: 2rem auto;
    max-width: 800px;
    text-align: center;
    color: white;
    padding: 2rem;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.cta-content {
    padding: 1rem;
    
}

.cta-tag {
    background-color: #00d1a0;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.cta-title {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.cta-description {
    font-size: 1rem;
    margin: 1rem 0;
}

.cta-button {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.8rem 2rem;
    background-color: #00d1a0;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #00d1a0;
}

/* Footer */


.footer {
    background-color: #03142f;
    padding: 50px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left {
    max-width: 40%;
}

.logo-social {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}



.logo h1 {
    font-size: 24px;
    font-weight: bold;
    color: #00d1a0;
}

.social-icons i {
    color: #fff;
    margin-left: 10px;
    font-size: 18px;
}

.social-icons i:hover {
    color: #00d1a0;
}

.footer-left p {
    margin: 20px 0;
    line-height: 1.6;
}

.newsletter {
    margin-top: 40px;
}

.newsletter h2 {
    color: #00d1a0;
    margin-bottom: 10px;
}

.newsletter form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.newsletter input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    flex: 1;
}

.newsletter button {
    padding: 10px 20px;
    background-color: #00d1a0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.newsletter button:hover {
    background-color: #00d1a0;
}

.footer-right {
    max-width: 55%;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
}

.footer-column h3 {
    color: #00d1a0;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-column ul li a:hover {
    color: #00d1a0;
}

.footer-bottom p{
    padding: 20px;
    text-align: center;
}
/* Para pantallas pequeñas como móviles */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .hero h1 {
        font-size: 3em;
    }

    .hero h2 {
        font-size: 2em;
    }

    .services {
        padding: 40px 20px;
    }

    .service-items {
        flex-direction: column;
        align-items: center;
    }

    .pricing-section .plans {
        flex-direction: column;
    }

    .plan {
        width: 100%;
        margin-bottom: 20px;
    }
}

/* Para tablets */
@media (min-width: 769px) and (max-width: 1024px) {
    .hero h1 {
        font-size: 4em;
    }

    .hero h2 {
        font-size: 3em;
    }

    .services {
        padding: 60px 20px;
    }

    .service-items {
        flex-wrap: wrap;
    }

    .pricing-section .plans {
        flex-direction: column;
    }

    .plan {
        width: 80%;
        margin-bottom: 20px;
    }
}
